<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>

      <link rel="stylesheet" type="text/css" href="test.css">

</head>
<body>
<div class="container-login">
  <form class="devbook-form" id="login">

    <span>Crie a sua conta agora mesmo!novo</span>
               
      <div> 
        <input type="text"  name="nome" id="nome" placeholder="Digite o seu nome" required="required">
       </div>
      
       <button type="submit" class="btn-devbook">Cadastrar</button>
       
       <a href="/login"> Clique aqui para fazer o login </a>
       
    </form>
</div>
</body>
</html>